@model ShinRin.ViewModels.WordForms

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WordForms</h2>


<h4>Verbs</h4>
@using (Html.BeginForm("SaveVerb", "WordForms"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.VerbForm.Name)
        @Html.TextBoxFor(m => m.VerbForm.Name, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.VerbForm.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model.VerbForms) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<h4>Nouns</h4>
@using (Html.BeginForm("SaveNoun", "WordForms"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.NounForm.Name)
        @Html.TextBoxFor(m => m.NounForm.Name, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.NounForm.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.NounForms)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<h4>I-Adjectives</h4>
@using (Html.BeginForm("SaveIAdjForm", "WordForms"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.IAdjForm.Name)
        @Html.TextBoxFor(m => m.IAdjForm.Name, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.IAdjForm.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.IAdjForms)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<h4>Na-Adjectives</h4>
@using (Html.BeginForm("SaveNaAdjForm", "WordForms"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.NaAdjForm.Name)
        @Html.TextBoxFor(m => m.NaAdjForm.Name, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.NaAdjForm.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.NaAdjForms)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<h4>Others</h4>
@using (Html.BeginForm("SaveOtherForm", "WordForms"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.OtherForm.Name)
        @Html.TextBoxFor(m => m.OtherForm.Name, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.OtherForm.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.OtherForms)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
