@model ShinRin.Models.GrammarGroup
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @{ var column = "col-md-" + (12 / Model.GrammarTerms.Count()).ToString(); }
    @for (int i = 0; i < Model.GrammarTerms.Count; i++)
    {
        
        <div class= @column>@Model.GrammarTerms.ElementAt(i).Term</div>
    }
</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            @foreach (var term in Model.GrammarTerms)
            {
                <th>@term.Term</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var term in Model.GrammarTerms)
        {
            if (term.NounForm != null)
            {
                <tr>
                    @foreach (var gterm in Model.GrammarTerms)
                    {
                        if (gterm.NounForm != null)
                        {
                            <td>@gterm.NounForm.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                break;
            }
        }
        @foreach (var term in Model.GrammarTerms)
        {
            if (term.VerbForm != null)
            {
                <tr>
                    @foreach (var gterm in Model.GrammarTerms)
                    {
                        if (gterm.VerbForm != null)
                        {
                            <td>@gterm.VerbForm.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                break;
            }
        }
        @foreach (var term in Model.GrammarTerms)
        {
            if (term.IAdjForm != null)
            {
                <tr>
                    @foreach (var gterm in Model.GrammarTerms)
                    {
                        if (gterm.IAdjForm != null)
                        {
                            <td>@gterm.IAdjForm.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                break;
            }
        }
        @foreach (var term in Model.GrammarTerms)
        {
            if (term.OtherForm != null)
            {
                <tr>
                    @foreach (var gterm in Model.GrammarTerms)
                    {
                        if (gterm.OtherForm != null)
                        {
                            <td>@gterm.OtherForm.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                break;
            }
        }
    </tbody>
    
</table>
